.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card {
    width: 60%;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #212121;
    box-shadow: 10px 10px;
}

.project-card-body {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.project-card h1 {
    text-align: center;
    font-weight: 900;
    color: #fff;
}

.project-card h2 {
    text-align: center;
    color: #fff;
}

.project-card p {
    color: #fff;
    font-size: 20px;
}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 1s;
    width: 150px;
    background-color: #fff;

}

.link-button:hover {
    opacity: 0.5;
}

a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.project-images {
    border-radius: 5px;
    width: 50%;
    height: auto;
    box-shadow: 2px 2px 2px 3px;
    margin-bottom: 2em;
}

.project-images:hover {
    cursor: pointer;
    opacity: 0.5;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

select {
    width: 300px;
    height: 23px;
    text-align: center;
    border: 0;
    border-radius: 2px;
    background-color: #212121;
    color: #fff;
    font-size: 18px;
}

#modal-overlayer {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 8;
}

#modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal {
    position: fixed;
    top: 5%;
    width: 80%;
    height: 100%;
    overflow: auto;
    padding: 5px;
    z-index: 9;
}

#modal::-webkit-scrollbar {
    background-color: #fff;
    border-radius: 10px;
}

#modal::-webkit-scrollbar-thumb {
    background-color: #495057;
    border-radius: 10px;
}

#modal-header {
    margin-bottom: 5px;
}

#modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

#modal-image {
    width: 100%;
    border-radius: 8px;
}

#close-modal-button {
    background-color: #d00000;
    color: #fff;
    padding: 5px;
    width: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close-modal-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

#start-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #344cb7;
    border-radius: 50px;
    padding: 10px;
    left: 90%;
    top: 80%;
}

#start-button:hover {
    cursor: pointer;
    opacity: 0.8;
}